{% extends "index.html" %}
{% block content %}
<div id="page-wrapper">
	<!-- Main Wrapper -->
	<div id="main-wrapper">
		<div class="wrapper style2">
			<div class="inner">
				<div class="container">
					<div class="row">

						<div class="col-8 col-12-medium imp-medium">
							<div id="content">

								<!-- Content -->

								<article>
									<header class="major">
										<span class="image featured"><img src="static/images/informacion.png" alt="" /></span>
									</header>


									<p>
										<li><b>Nombres:</b> Francisco Javier <br></li>
										<li><b>Apellidos:</b> Cetino Mendez <br></li>
										<li><b>Univeridad:</b> Univeridad de San Carlos de Guatemala<br></li>
										<li><b>Facultad:</b> Facultad de Ingenieria en Ciencias y Sistemas<br></li>
										<li><b>Carnet:</b> 202006716</li>

									</p>


								</article>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}