{% extends "index.html" %}
{% block content %}
<div id="main-wrapper">

	<div class="wrapper style1">
		<div class="inner">

			<!-- Feature 1 -->
			<section class="container box feature1">
				<div class="row">
					<div class="col-12">
						<header class="first major">
							<h2>U-BLOG EL LUGAR PARA POSTEAR TU FELICIDAD</h2>
							<p>EN ESTA PAGINA NOS ENCARGAMOS DE QUE PUEDAS PUBLICAR LO QUE TE HAGA FELIZ </p>
						</header>
					</div>
					<div class="col-4 col-12-medium">
						<section>
							<a href="#" class="image featured"><img src="static/images/FAMILIA.png" alt="" /></a>
							<header>
								<h3>POST CON TU FAMILIA</h3>
								<p>En U-Blog podras postear tus momentos</br>
									familiares para recordarlos siempre</p>
							</header>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section>
							<a href="#" class="image featured"><img src="static/images/mascotas1.png" alt="" /></a>
							<header>
								<h3>POST DE TUS MASCOTAS</h3>
								<p>En U-Blog puedes presumir las mejores fotos de tus mascotas</p>
							</header>
						</section>
					</div>
					<div class="col-4 col-12-medium">
						<section>
							<a href="#" class="image featured"><img src="static/images/ropa.png" alt="" /></a>
							<header>
								<h3>POST DE TRABAJO</h3>
								<p>En U-BLOG tambien sirve como pagina de trabajo ya que puedes enseñar tu trabajo
								</p>
							</header>
						</section>
					</div>

				</div>
			</section>

		</div>
	</div>
</div>
{% endblock %}