{% extends "index.html" %} {% block content %}
<div id="page-wrapper">

    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="wrapper style2">
            <div class="inner">
                <div class="container">
                    <div class="row">

                        <div class="col-8 col-12-medium imp-medium">
                            <div id="content">

                                <!-- Content -->

                                <article>
                                    <header class="major">
                                        <span class="image featured"><img src="static/images/MISION1.png"
												alt="" /></span>
                                    </header>


                                    <h3>Brindar a las personas el poder para compartir, hacer un mundo más abierto y conectado por medio de una comunicación a larga distancia, expresando ideas y formas de ser, de igual forma hacer amistades nuevas en distintas partes del mundo conociendo culturas y otros lugares</h3>


                                </article>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}