{% extends "index.html" %} {% block content %}

<div id="page-wrapper">
    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="wrapper style2">
            <div class="inner">
                <div class="container">
                    <div class="row">

                        <div class="col-8 col-12-medium imp-medium">
                            <div id="content">

                                <!-- Content -->

                                <article>
                                    <header class="major">
                                        <span class="image featured"><img src="static/images/VISION1.png"
												alt="" /></span>
                                    </header>


                                    <h3>Las personas utilizan UBlog para estar en contacto con amigos y familia, para descubrir qué ocurre en el mundo y para compartir y expresar las cosas que les importan.</h3>


                                </article>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}