{% extends "admin/admin.html" %} {% block content %}
<div id="main-wrapper">

    <div class="wrapper style1">
        <div class="inner">

            <!-- Feature 1 -->
            <section class="container box feature1">
                <div class="row">
                    <div class="col-12">
                        <header class="first major">
                            <h2>Bienvenido Darwin Arevalo, a la gestion administrativa de procesos</h2>
                            <p>Permite realizar cargas de usuarios y publicaciones</p>
                            <p>Escoja la opcion a ejecutar</p>
                        </header>
                    </div>


                </div>
            </section>

        </div>
    </div>
</div>
{% endblock %}